<h3>Add a doctor</h3>

<form action="/doctors/success" method="post">

  <label for="doctor_name">Name of the Doctor:</label>
  <input id="doctor_name" name="doctor_name" type="text">

  <label for="specialty">Specialty:</label>
  <input id="specialty" name="specialty" type="text">

  <button type="submit">Add Doctor</button>
</form>

<hr>

<div class="container">
  <a href="/">Home</a>
  <a href="/doctors">View All Doctors</a>
  <a href="/doctors/new">Add New Doctor</a>
  <a href="/doctors/new">Add New Patient</a>
</div>
